<script src="assets/js/libraries/axios.js"></script>
<script src="assets/js/libraries/sweetalert.js"></script>

<script src="assets/js/settings.js"></script>
<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
