<article id="chatterSection">
  <header></header>
  <div id="conversation">
    list of messages
  </div>
  <footer>
    <form id="sendMessage">
      <input name="receiverKey" type="hidden">
      <input name="newMessage" type="text">
      <input type="submit" value="send">
    </form>
  </footer>
</article>