<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <%- include('../components/h1', {content: "Chats List"}) %> 
    <hr>
    <div class="row">
      
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/assets/js/main.js"></script>

</body>
</html>